PORT=3000

DB_HOST=endpoint-rds-postgresql.amazonaws.com
DB_PORT=5432
DB_NAME=simi_erp
DB_USER=postgres
DB_PASSWORD=tu_password_rds

JWT_SECRET=cambia_este_valor_por_un_secreto_largo
JWT_EXPIRES_IN=1h

ADMIN_USER=admin
ADMIN_PASSWORD=Admin12345

AWS_REGION=us-east-1
S3_BUCKET=simi-backups-eva3
